<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="isi.dam.sendmeal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.ListaItemsPedido"></activity>
        <activity android:name=".Activities.BusquedaItem" />
        <activity android:name=".Activities.ListaResultados" />
        <activity android:name=".Activities.EditarItem" />
        <activity android:name=".Activities.ListaItems" />
        <activity android:name=".Activities.ListaPedido" />
        <activity android:name=".Activities.Info_Pedido" />
        <activity android:name=".Activities.VisualizadorMapa"></activity>
        <activity android:name=".Activities.MapsActivity"></activity>
        <activity
            android:name=".Activities.CrearItem"
            android:parentActivityName=".Activities.HOME" />
        <activity android:name=".Activities.HOME">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.PantallaUsuario"
            android:parentActivityName=".Activities.HOME" />
        <activity
            android:name=".Activities.MainActivity"
            android:parentActivityName=".Activities.HOME" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".FirebaseMessagesConfig"
            android:exported="false">
            <intent-filter>
                <action android:name="com.goog0le.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>